<div class="card mb-3">
  <h2 class="card-header h4">
    Animal #<%= animal.id %>
  </h2>

  <div class="card-body">
    <dl class="mb-1">
      <dt>Animal type</dt>
      <!-- Display animal_type_id start -->
      <dd>
        <% if @animal.animal_type.present? %>
          <%= link_to animal.animal_type, animal.animal_type %>
        <% end %>
      </dd>
      <!-- Display animal_type_id end -->

      <dt>Photo</dt>
      <!-- Display photo start -->
      <dd>
        <%= cl_image_tag @animal.photo, class: "img-fluid" %>
      </dd>
      <!-- Display photo end -->

      <dt>Name</dt>
      <!-- Display name start -->
      <dd><%= animal.name %></dd>
      <!-- Display name end -->

      <dt>Description</dt>
      <!-- Display description start -->
      <dd><%= animal.description %></dd>
      <!-- Display description end -->

      <dt>Age</dt>
      <!-- Display age start -->
      <dd><%= animal.age %></dd>
      <!-- Display age end -->

    </dl>

    <div class="row">
      <div class="col">
        <%= link_to_show_or_back animal, '<i class="fas fa-search-plus"></i>'.html_safe, '<i class="fas fa-chevron-left"></i>'.html_safe, class: "btn btn-block btn-outline-secondary" %>
      </div>

      <!-- Edit link animal start -->
      <div class="col">
        <%= link_to edit_animal_url(animal), class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-edit"></i>
        <% end %>
      </div>
      <!-- Edit link animal end -->

      <!-- Delete link animal start -->
      <div class="col">
        <%= link_to animal, method: :delete, data: { confirm: "Do you really want to delete this animal?" }, class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </div>
      <!-- Delete link animal end -->
    </div>
  </div>

  <div class="card-footer text-muted">
    Last updated <%= time_ago_in_words(animal.updated_at) %> ago
  </div>
</div>
