<div class="card mb-3">
  <h2 class="card-header h4">
    Animal #<%= animal.id %>
  </h2>

  <div class="card-body">
    <dl class="mb-1">
      <dt>Animal type</dt>
      <dd>
        <% if @animal.animal_type.present? %>
          <%= link_to animal.animal_type, animal.animal_type %>
        <% end %>
      </dd>

      <dt>Photo</dt>
      <dd>
        <%= cl_image_tag @animal.photo, class: "img-fluid" %>
      </dd>

      <dt>Name</dt>
      <dd><%= animal.name %></dd>

      <dt>Description</dt>
      <dd><%= animal.description %></dd>

      <dt>Age</dt>
      <dd><%= animal.age %></dd>

    </dl>

    <div class="row">
      <div class="col">
        <%= link_to_show_or_back animal, '<i class="fas fa-search-plus"></i>'.html_safe, '<i class="fas fa-chevron-left"></i>'.html_safe, class: "btn btn-block btn-outline-secondary" %>
      </div>

      <div class="col">
        <%= link_to edit_animal_url(animal), class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-edit"></i>
        <% end %>
      </div>

      <div class="col">
        <%= link_to animal, method: :delete, data: { confirm: "Do you really want to delete this animal?" }, class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </div>
    </div>
  </div>

  <div class="card-footer text-muted">
    Last updated <%= time_ago_in_words(animal.updated_at) %> ago
  </div>
</div>
